@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
// font-family: 'Fraunces', serif; ->700
// font-family: 'Montserrat', sans-serif; ->500,700  
$main-background: hsl(30deg, 38%, 92%);
$card-color: hsl(0deg, 0%, 100%);
$title-color: hsl(212, 21%, 14%);
$text-color: hsl(228, 12%, 48%);
$price-color: hsl(158, 36%, 37%);

*, ::before, ::after{
    padding: 0;
    margin: 0;
}
body{
    font-size: .875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $main-background;
    min-height: 100vh;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $card-color;
    border-radius: .9375rem;
}

figure, article{
    width: 17.8125rem;
    min-width: calc(35.9375rem/2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    ::selection{
        background-color: hsl(158, 36%, 57%);
    }
}
.card-img-mobile{
    display: none;
}
.card-img{
    width: 100%;
    height: max-content;
    min-width: calc(35.9375rem / 2);
    border-radius: .9375rem 0 0 .9375rem;
}

article{
    .header, .main-title, .body-text, .price, .footer-btn{
        padding: 0 1.35rem;
    }
    .header{
        margin-bottom: 1rem;
    }
    .main-title{
        padding-bottom: 1rem;
    }
    h1{
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 2rem;
        color: $title-color;
    }
    p, span{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: $text-color;
    }
    .body-text{
        padding-bottom: 1rem;
    }
    .price{
        display: flex;
        align-items: center;
        color: $price-color;
        font-family: 'Fraunces', serif;
        font-weight: 500;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
        .old-price{
            font-size: 50%;
            padding-left: 0.5rem;
        }
    }
    .button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3rem;
        border: none;
        border-radius: .625rem;
        background-color: $price-color;
        span{
            color: $card-color;
            padding-left: 0.5rem;
        }
    }
    .button:hover{
        background-color: #1E4034
    }
}
@media(max-width: 768px){
    main{
        flex-direction: column;
        width: 21.875rem;
        justify-content: center;
        height: 100%;
    }
    .card-img{
        display: none;
    }
    figure{
        width: 100%;
        .card-img-mobile{
            display: block;
            width: 100%;
            border-radius: .9375rem .9375rem 0 0;
        }
    }
    aside, article{
        width: 100%;
        padding: 0;
    }
    article{
        padding: 2rem 0;
    }
}
